In [3]:
# Python program to convert .tsv file to .csv file
# importing re library
import re

# reading given tsv file
with open("absenteeism_at_work.tsv", 'r') as myfile:
    with open("absenteeism_at_work.csv", 'w') as csv_file:
        for line in myfile:

            # Replace every tab with comma
            fileContent = re.sub("\t", ",", line)

            # Writing into csv file
            csv_file.write(fileContent)

# output
print("Successfully made csv file")

Successfully made csv file

In [5]:
#imports 
import numpy as np
import pandas as pd
from scipy.stats import pearsonr, spearmanr

In [6]:
df = pd.read_csv('absenteeism_at_work.csv')

In [7]:
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [8]:
df.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    float64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

In [12]:
#pearsonr calculation between Day of the Week and Reason for absence
pearsonr(df['Day of the week'], df['Reason for absence'])

(0.11631924393042758, 0.0015262702957113687)

The above result shows a little to no correlation because the r value (first value in the tuple) is under 0.3

In [36]:
#spearmanr calculation between month of absence and age
spearmanr(df['Month of absence'], df['Age'])

SpearmanrResult(correlation=0.0016805552597149393, pvalue=0.9635981476773132)

The above result shows a little to no correlation because the r value (first value in the tuple) is under 0.3

In [24]:
#pearnsonr calcualtation between hit target and disclipinary failure
pearsonr(df['Hit target'], df['Disciplinary failure'])

(-0.14797083444555606, 5.3291713637260195e-05)

The above result shows a little to no correlation because the r value (first value in the tuple) is under 0.3

In [25]:
#pearnsonr calcualtation between service time and reason for absence
pearsonr(df['Service time'], df['Reason for absence'])

(0.048425115424340893, 0.18822416547756862)

The above result shows a little to no correlation because the r value (first value in the tuple) is under 0.3

In [27]:
#pearnsonr calcualtation between transportation expense and distance from residence to work
pearsonr(df['Transportation expense'], df['Distance from Residence to Work'])

(0.2621831106319076, 4.2533009832571457e-13)

The above result shows a weak positive correlation.

In [28]:
#pearnsonr calcualtation between age and pet
pearsonr(df['Age'],df['Pet'])

(-0.23122599912658484, 1.9420065119551828e-10)

The above result shows a weak negative correlation.

In [30]:
#pearnsonr calcualtation between absenteeism in hours and day of the week
pearsonr(df['Absenteeism time in hours'], df['Day of the week'])

(-0.12436061376972074, 0.0006978426162533758)

The above result shows a little to no correlation because the r value (first value in the tuple) is under 0.3

In [32]:
#pearnsonr calcualtation between body mass index and height
pearsonr(df['Body mass index'], df['Height'])

(-0.12104877689386094, 0.0009687237227505967)

The above result shows a little to no correlation because the r value (first value in the tuple) is under 0.3

In [34]:
#pearnsonr calcualtation between pet and discliplinary failure
pearsonr(df['Pet'], df['Disciplinary failure'])

(0.018881352933121372, 0.6080872043359568)

The above result shows a little to no correlation because the r value (first value in the tuple) is under 0.3